<style>

    .btn {
    display: inline-block;
    padding: 1.5vh 2vw;
    background-color: #f9a01b;
    color: black;
    border-radius: 2vw;
    text-decoration: none;
    }
  
    .btn:hover {
    background-color: azure;
    }

    .highlight:hover {
        color: azure;
    }

    body {
        text-align: center;
        user-select: none;
    }
    .image-container img {
        margin-top: 1cap;
        margin-right: 1cap;
        transition: transform 0.2s ease-in-out; 
        align-items: center;
    }

    .image-container img:hover {

        transform: scale(1.5); 
        image;
    }
    
    .image-contacts img{
        height: 100;
        margin-top: .5cap;
        transition: transform 0.2s ease-in-out; 
    }
    .image-contacts img:hover{
        transform: scale(1.3); 
        -ms-transform-origin-x: 50%;
    }

    h1, h2	{
        text-align:center;
        color:#f9a01b;
        font-family: Roboto;
        font-weight: 500;
    }

    .orangetext mark{
        text-align:center;
        background-color: #f9a01b;
        color:black;
        font-size: small;
        font-family: Roboto;
        font-weight: 400;
    }

    p, blockquote, i, a, .btn	{
        text-align:left;
        text-indent: 10%;
        color:azure;
        font-family: Roboto;
        font-weight: 400;
    }

    img {
        size-adjust: 10%;
        border-radius: 1cap;
        }
    
    .description {
        column-count: 2;
        column-width: 100;
        text-overflow: none;
        margin: 1cap;
    }

    div.sticky {
        position: sticky;
        bottom: 0;
        padding: 0px;
        font-size: 20px;
    }

    table {
        border: 0;
        border-spacing: 0;
        border-collapse: collapse;
        table-layout: fixed;
        width: 90vw;
    }
    td {
        padding: 0;
    }
</style>